<div class="box col-xs-10 col-xs-offset-1">
  <h1>Got a favorite attraction in NOLA? Enter it here!</h1>
  <br />
  <%= simple_form_for @attractions do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-success' %> %>
  <% end %>
</div>